body {
    display: flex;
    align-items: center;
	justify-content: center;
    height: 100vh;
}

#wrapper{
    #beer-glass {
        width: 200px;
        height: 300px;
        background: rgba(0, 0, 0, 0.02);
        border: 10px solid rgba(0, 0, 0, 0.03);
        border-bottom-width: 15px;
        position: relative;
        border-top : none;
        animation: tilt 10s infinite;

        #handle {
            height: 200px;
            width: 40px;
            border: 20px solid rgba(0, 0, 0, 0.03);
            border-left: none;
            border-radius: 0 20px 20px 0;
            position: absolute;
            margin:auto;
            right:-70px;
            bottom:0;
            top:12px;
        }

        #glass {
            position: relative;
            overflow: hidden;
            width: 200px;
            height: 300px;

            &:after {
                content: '';
                position: absolute;
                width: 23px;
                height: 150px;
                background: rgba(0, 0, 0, 0.05);
                border-radius: 5px;
                z-index: 100;
                margin :auto;
                top:0;
                bottom: 0;
                left:0;
                right: 0;
                box-shadow: -50px 0 0 0 rgba(0, 0, 0, 0.05),
                    50px 0 0 0 rgba(0, 0, 0, 0.05);
            }

            #drink {
                width: 500px;
                height: 300px;
                background: #f7a900;
                position: absolute;
                left: -250px;
                animation: pour 10s infinite;
                animation-delay: 0.2s;
                bottom: -300px; border-top: 1px solid white;

                .bubble {
                    background: rgba(255, 255, 255, 0.1);
                    border-radius: 50%;
                    bottom: 0;
                    width: 10px;
                    height: 10px;
                    margin: auto;
                    position: absolute;
                    animation: bubble-float 1s infinite;
                }

            }
        }
    }
}

@keyframes tilt {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-35deg); }
    50% { transform: rotate(0deg); }
    60% { transform:translatex(40px); }
    85% { transform:translatex( -2000px); }
    89.99% { transform:translatex(-2000px); }
    90% { transform: translate(2000px); }
    95% { transform: translate(0px); }
    100% { transform: translate(0px); }
}

@keyframes pour {
    0% { bottom: -300px; border-top: 1px solid white;}
    25% { transform: rotate(30deg); }
    43% { transform: rotate(0deg); }
    45% { bottom: -40px; border-top: 40px solid white; }
    85% { bottom: -40px; border-top: 40px solid white; }
    90% { bottom: -300px; border-top: 1px solid white;}
}

@keyframes bubble-float {
    0% { bottom: 0%; }
    100% { bottom: 100%; }
}
